#description-container {
  p {
    position: relative;
    background: #fff;
    padding: 1em 1em 0;
    margin-bottom: 1em;
    font-size: 1.05em;
    font-family: sans-serif;
    text-align: justify;
    max-height: 15vw;
    overflow: hidden;
    &.seeDescription {
      max-height: min-content;
    }
    @media screen and (max-width: 960px) {
      max-height: 22vw;
    }
    @media screen and (max-width: 725px) {
      font-size: 0.9em;
    }
    @media screen and (max-width: 380px) {
      font-size: 0.8em;
    }
    button {
      position: absolute;
      border: none;
      display: flex;
      align-items: end;
      justify-content: center;
      top: calc(100% - 2em);
      height: 2em;
      left: 0.8em;
      cursor: pointer;
      font-size: 1.2em;
      font-weight: 900;
      width: calc(100% - 1.6em);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background: linear-gradient(transparent, #fff);
      &.btnSeeDesc {
        position: initial;
        width: 100%;
        margin-top: 1em;
        background: #f1f1f1;
        align-items: center;
      }
    }
    @media screen and (max-width: 675px) {
      max-height: 28vw;
      button {
        font-size: 1.1em;
      }
    }
    @media screen and (max-width: 440px) {
      max-height: 40vw;
    }
    @media screen and (max-width: 350px) {
      max-height: 50vw;
    }
  }
  .social-links {
    background: #f1f1f1;
    display: flex;
    overflow: auto;
    &::-webkit-scrollbar {
      height: 0;
    }
    width: 100%;
    padding: 1em;
    span {
      font-size: 1.2em;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-right: 1em;
    }
    a {
      display: flex;
      gap: 0.3em;
      font-size: 1.2em;
      margin-right: 1em;
      label {
        font-family: sans-serif;
        cursor: pointer;
      }
      svg {
        height: 90%;
      }
      &:hover {
        color: #666666;
      }
    }
    @media screen and (max-width: 830px) {
      span,
      a {
        font-size: 1em;
      }
    }
    @media screen and (max-width: 700px) {
      span,
      a {
        font-size: 0.9em;
      }
    }
    @media screen and (max-width: 670px) {
      position: fixed;
      bottom: 0;
      background: #5dade2;
      padding: 0.5em 1em;
      span,
      a {
        color: #fff;
        min-width: max-content;
        font-size: 1.6em;
        display: flex;
        align-items: center;
        margin-right: 0.5em;
        label {
          display: none;
        }
        &:hover {
          color: #fff;
        }
      }
      span {
        font-size: 1.3em;
      }
    }
  }
  .store {
    padding: 0.5em 1em 0;
    h1 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-bottom: 0.5em;
      @media screen and (max-width: 550px) {
        font-size: 1.7em;
      }
      @media screen and (max-width: 450px) {
        font-size: 1.5em;
      }
      @media screen and (max-width: 380px) {
        font-size: 1.3em;
      }
    }
    span {
      font-family: sans-serif;
      font-size: 1.05em;
      @media screen and (max-width: 725px) {
        font-size: 0.9em;
      }
      @media screen and (max-width: 380px) {
        font-size: 0.8em;
      }
    }
  }
}
