@import "../../Styles.scss";

.details {
  display: flex;
  justify-content: center;
  gap: var(--espacio-principal);
  padding: var(--espacio-principal);
  &-title {
    display: none;
  }
  img {
    width: 45vw;
    max-height: 45vw;
    object-fit: contain;
    object-position: top;
  }
  &-content {
    width: 50vw;
    &-title {
      font-size: 1.5em;
      font-weight: 900;
    }
    &-store {
      position: relative;
      display: flex;
      input {
        width: 0;
      }
      label {
        cursor: pointer;
        border: none;
        outline: none;
        color: var(--color-primario);
        min-width: max-content;
        &:hover {
          color: #008000;
        }
      }
      div {
        position: absolute;
        background: #fff;
        border: 1px solid #808080;
        left: 1em;
        padding: 1em;
        z-index: 600;
        display: none;
        top: 1.2em;
        width: 15em;
        &.isActive {
          display: block;
        }
        img {
          width: 13em;
          max-height: 13em;
          object-fit: contain;
          margin-bottom: var(--espacio-secundario);
        }
        a {
          background: var(--color-primario);
          color: var(--color-blanco);
          text-align: center;
          padding: 0.3em 0;
          margin-top: var(--espacio-secundario);
        }
      }
    }
    &-description {
      font-size: 1.3em;
      font-family: var(--tipo-texto);
      max-height: 6em;
      overflow: auto;
      margin: 8px 0;
      position: relative;
      transition: all 0.5s ease;
      overflow: hidden;
      &.viewButton {
        max-height: 7em;
        height: 7em;
        button {
          display: block;
        }
      }
      &.isActive {
        max-height: max-content;
        height: max-content;
        button {
          position: static;
        }
      }
      button {
        display: none;
        position: absolute;
        bottom: 0;
        background: var(--color-terciario);
        width: 100%;
        height: 1.8em;
        color: var(--color-texto-terciario);
        cursor: pointer;
      }
    }
    &-price {
      font-size: 1.6em;
      font-family: var(--tipo-texto);
      display: flex;
      .porcent {
        color: #ff0000;
        margin-right: 0.2em;
      }
      span {
        &.little {
          font-size: 0.65em;
          margin-top: 0.2em;
        }
      }
    }
    &-salePrice {
      color: #808080;
      span {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background: #808080;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .options {
      margin-top: var(--espacio-secundario);
      display: flex;
      flex-direction: column;
      gap: var(--espacio-secundario);
      div {
        border: 1px solid var(--color-terciario);
        display: flex;
        flex-direction: column;
        a {
          color: var(--color-texto-terciario);
          max-width: max-content;
          &:hover {
            color: #008000;
          }
        }
        label {
          padding: var(--espacio-secundario);
          background: var(--color-terciario);
          color: var(--color-texto-terciario);
          display: flex;
          align-items: center;
          width: 100%;
          gap: 0.2em;
          svg {
            width: 1.5em;
            height: 1.5em;
          }
          small {
            display: none;
          }
        }
        span,
        a {
          display: flex;
          align-items: center;
          padding: 0.35em var(--espacio-secundario);
        }
      }
    }
    .social-links {
      background: var(--color-secundario);
      color: var(--color-blanco);
      display: flex;
      margin: var(--espacio-secundario) 0 0;
      padding: var(--espacio-secundario);
      align-items: center;
      gap: 1.5em;
      overflow: auto;
      span {
        font-size: 1.2em;
        min-width: max-content;
      }
      a {
        border-left: 1px solid #fff;
        margin-right: 1em;
        padding: var(--espacio-secundario);
        display: flex;
        align-items: center;
        gap: 0.2em;
        font-family: var(--tipo-secundario);
        min-width: max-content;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &:hover {
          background: rgba($color: #fff, $alpha: 0.2);
        }
        label {
          pointer-events: none;
        }
        svg {
          width: 1.2em;
          height: 1.2em;
        }
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .details {
    img {
      max-height: 40em;
      max-width: 45em;
    }
    &-content {
      width: 45em;
      min-width: 46em;
    }
  }
}

@media screen and (max-width: 800px) {
  .details {
    display: flex;
    flex-direction: column;
    padding: var(--espacio-principal);
    padding-bottom: 0;
    gap: 0;
    &-title {
      display: block;
      font-size: 1.6em;
      font-weight: 900;
      margin-bottom: var(--espacio-secundario);
    }
    img {
      width: 100%;
      max-height: 70vw;
      margin-bottom: var(--espacio-secundario);
    }
    &-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-width: 0;
      &-title {
        display: none;
      }
      &-store {
        margin-top: var(--espacio-secundario);
        label {
          cursor: auto;
          &:hover {
            color: var(--color-primario);
          }
        }
        order: 3;
      }
      &-price {
        order: 1;
      }
      &-salePrice {
        order: 2;
      }
      .options {
        flex-direction: row;
        div {
          width: 50%;
        }
        order: 4;
      }
      &-description {
        order: 5;
      }
      .social-links {
        order: 6;
        margin: 0;
        &.isActive {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          margin-bottom: 0;
          z-index: 100;
        }
      }
      &-responsiveStore {
        order: 7;
        margin: var(--espacio-secundario) 0;
        h2 {
          font-size: 1.5em;
          font-weight: 900;
        }
        p {
          font-family: var(--tipo-texto);
          margin-top: var(--espacio-secundario);
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .details {
    &-content {
      .options {
        flex-direction: column;
        div {
          width: 100%;
        }
      }
      .social-links {
        &::-webkit-scrollbar {
          height: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .details {
    &-title {
      font-size: 1.4em;
    }
    img {
      height: auto;
      max-height: 100vh;
    }
    &-content {
      &-description {
        font-size: 1.2em;
      }
      .options {
        flex-direction: column;
        div {
          width: 100%;
          border: none;
          &.isActive {
            border: 1px solid var(--color-terciario);
            label {
              &.isActive {
                border: none;
                margin-bottom: 0.3em;
              }
            }
            small {
              transform: rotate(180deg);
            }
            span,
            a {
              height: 2.5em;
            }
          }
          label {
            background: #fff;
            color: #000;
            padding: var(--espacio-secundario);
            margin-bottom: 0;
            cursor: pointer;
            position: relative;
            &.isActive {
              background: var(--color-terciario);
              color: var(--color-texto-terciario);
              border-left: 1px solid #000;
            }
            small {
              position: absolute;
              display: block;
              right: 1em;
              transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
          }
          span,
          a {
            height: 0;
            padding: 0 0 0 var(--espacio-secundario);
            overflow: hidden;
            transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          }
        }
      }
      .social-links {
        gap: 1em;
        span {
          font-size: 1em;
        }
        a {
          margin-right: 0.5em;
          padding: 0.3em var(--espacio-secundario);
          svg {
            height: 100%;
            width: 1.5em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .details {
    padding: var(--espacio-secundario);
    &-title {
      font-size: 1.4em;
      margin-bottom: 0;
    }
    img {
      height: auto;
      margin: var(--espacio-secundario) 0;
    }
    &-content {
      &-store,
      &-introduction,
      &-salePrice {
        font-size: 0.9em;
      }
      &-description {
        font-size: 1.1em;
        margin-bottom: 0.5em;
      }
      &-price {
        font-size: 1.4em;
        span {
          &.little {
            font-size: 0.55em;
            margin-top: 0.1em;
          }
        }
      }
      .social-links {
        a {
          label {
            display: none;
          }
          padding: var(--espacio-secundario);
          svg {
            height: 100%;
            width: 1.4em;
          }
        }
      }
      &-responsiveStore {
        margin: var(--espacio-secundario) 0;
        h2 {
          font-size: 1.4em;
        }
      }
    }
  }
}
