#options-container {
  padding: 1em 1em 0;
  .options {
    display: flex;
    flex-direction: column;
    button {
      border: none;
      font-size: 1.2em;
      font-family: Roboto;
      padding: 0.4em;
      cursor: pointer;
      display: flex;
      align-items: center;
      background: #fff;
      position: relative;
      label {
        pointer-events: none;
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: right;
        padding-right: 1em;
        svg {
          font-size: 1.3em;
          animation: rotateIcon 1s forwards cubic-bezier(0.19, 1, 0.22, 1);
          transform: rotate((180deg));
          @keyframes rotateIcon {
            100% {
              transform: rotate(360deg);
            }
          }
          &.animateIcon {
            animation: rotateIcon1 1s forwards cubic-bezier(0.19, 1, 0.22, 1);
            transform: rotate((0deg));
            @keyframes rotateIcon1 {
              100% {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
      @media screen and (max-width: 500px) {
        font-size: 1em;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      background: #fff;
      font-size: 0.9em;
      gap: 0;
      animation: showOption2 0.3s normal forwards
        cubic-bezier(0.075, 0.82, 0.165, 1);
      label,
      a {
        font-family: sans-serif;
        font-size: 1.05em;
        padding: 0;
        padding-left: 1em;
        animation: showOption 0.3s normal forwards
          cubic-bezier(0.075, 0.82, 0.165, 1);
        @keyframes showOption {
          to {
            padding: 0.5em;
            padding-left: 1em;
          }
        }
      }
      @keyframes showOption2 {
        to {
          gap: 0.3em;
        }
      }
      &.hiddenOption {
        gap: 0.3em;
        animation: hiddenOption2 0.3s normal forwards
          cubic-bezier(0.075, 0.82, 0.165, 1);
        a,
        label {
          padding: 0.5em;
          padding-left: 1em;
          animation: hiddenOption 0.3s normal forwards
            cubic-bezier(0.075, 0.82, 0.165, 1);
          @keyframes hiddenOption {
            to {
              padding: 0;
              padding-left: 1em;
              height: 0;
            }
          }
        }
        @keyframes hiddenOption2 {
          to {
            gap: 0;
          }
        }
      }
    }
    .isActive {
      border-left: 1px solid #000;
      background: #f1f1f1;
    }
  }
}
