@import "../../Styles.scss";

.home-introduction {
  position: relative;
  &-stores {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 11vw;
    &-container {
      display: flex;
      width: 42.5vw;
      max-width: 38.8em;
      overflow: hidden;
      gap: 0.15em;
      &-item {
        img {
          object-fit: contain;
          width: 13vw;
          height: 13vw;
          max-width: 12em;
          max-height: 12em;
          border-radius: 100%;
          background: #fff;
          box-shadow: 1px 1px 2px var(--color-negro),
            -1px -1px 2px var(--bg-blanco);
        }
        span {
          width: 100%;
          text-align: center;
          display: block;
          margin-top: 0.5em;
          font-family: var(--tipo-secundario);
          font-weight: 900;
        }
      }
    }
  }
}

@media screen and (min-width: 1450px) {
  .home-introduction {
    &-stores {
      padding-left: 8em;
    }
  }
}

@media screen and (max-width: 700px) {
    .home-introduction {
    &-stores {
      padding-left: 14vw;
      &-container {
        &-item {
          span {
            min-width: max-content;
            font-weight: normal;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .home-introduction {
    &-stores {
      &-container {
        width: 41.5vw;
        &-item {
          img {
            width: 13.5vw;
            height: 13.5vw;
          }
          span {
            font-size: 0.9em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
    .home-introduction {
      &-stores {
        padding-left: 8vw;
        &-container {
          &-item {
            img {
              width: 18vw;
              height: 18vw;
            }
          }
        }
      }
    }
  }
  
@media screen and (max-width: 330px) {
    .home-introduction {
      &-stores {
        padding-left: 7vw;
        &-container {
          &-item {
            span{
                margin-top: 0;
                font-size: .8em;
            }
          }
        }
      }
    }
  }