@import "../../Styles.scss";

.home-introduction {
  padding-left: 11vw;
  &-banner {
    position: absolute;
    left: 0;
    background: red;
  }
  .container-animation {
    position: relative;
    z-index: 500;
    height: 100%;
    width: 50%;
    display: flex;
    overflow: hidden;
  }
  &-stores {
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    width: max-content;
    animation: slideItems 8s infinite linear;
    @keyframes slideItems {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
    &-item {
      img {
        object-fit: contain;
        width: 13vw;
        height: 13vw;
        max-width: 12em;
        max-height: 12em;
        border-radius: 100%;
        background: #fff;
        box-shadow: 1px 1px 2px var(--color-secundario),
          -1px -1px 2px var(--color-blanco);
      }
      span {
        width: 100%;
        text-align: center;
        display: block;
        margin-top: 0.5em;
        font-family: var(--tipo-secundario);
        font-weight: 900;
      }
    }
  }
}

@media screen and (min-width: 1450px) {
  .home-introduction {
    padding-left: 10em;
  }
}

@media screen and (max-width: 700px) {
  .home-introduction {
    padding-left: 14vw;
    &-stores {
      &-item {
        span {
          min-width: max-content;
          font-weight: normal;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .home-introduction {
    &-stores {
      &-item {
        img {
          width: 13.5vw;
          height: 13.5vw;
        }
        span {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .home-introduction {
    padding-left: 8vw;
    &-stores {
      padding: 0.1em 0;
      &-item {
        img {
          width: 18vw;
          height: 18vw;
        }
      }
    }
  }
}

@media screen and (max-width: 330px) {
  .home-introduction {
    padding-left: 7vw;
  }
}
