@import "../../Styles.scss";

.toolbar {
  padding: var(--espacio-principal);
  background: var(--color-primario);
  color: var(--color-blanco);
  display: flex;
  justify-content: center;
  gap: var(--espacio-principal);
  &-item {
    display: flex;
    align-items: center;
    gap: var(--espacio-secundario);
    font-family: var(--tipo-secundario);
    min-width: max-content;
    svg {
      width: 1.2em;
    }
  }
}

@media screen and (min-width: 1500px) {
  .toolbar {
    margin: var(--espacio-principal) var(--espacio-principal) 0;
  }
}

@media screen and (max-width: 650px) {
  .toolbar {
    padding: var(--espacio-secundario);
    overflow: auto;
    justify-content: left;
    &::-webkit-scrollbar {
      height: 0;
    }
    &-item {
      gap: 0.3em;
      font-weight: normal;
      svg {
        width: 1.3em;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .toolbar {
    &-item {
      font-size: 15px;
      gap: 0.3em;
      font-weight: normal;
      svg {
        width: 1.3em;
      }
    }
  }
}
