@import "../../Styles.scss";

.toolbar {
  padding: var(--espacio-principal);
  background: var(--color-primario);
  color: var(--color-blanco);
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--espacio-principal);
  &-options {
    display: flex;
    gap: var(--espacio-principal);
  }
  &-item {
    display: flex;
    align-items: center;
    gap: 0.1em;
    font-family: var(--tipo-secundario);
    min-width: max-content;
    svg {
      width: 1.2em;
    }
  }
}

@media screen and (min-width: 1500px) {
  .toolbar {
    margin-top: var(--espacio-principal);
    margin-bottom: var(--espacio-principal);
  }
}

@media screen and (max-width: 650px) {
  .toolbar {
    padding: var(--espacio-secundario);
    overflow: auto;
    justify-content: left;
    gap: var(--espacio-principal);
    &::-webkit-scrollbar {
      height: 0;
    }
    &-item {
      font-weight: normal;
      svg {
        width: 1.3em;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .toolbar {
    gap: var(--espacio-secundario);
    margin-bottom: var(--espacio-secundario);
    &-options {
      gap: var(--espacio-secundario);
    }
    &-item {
      font-size: 15px;
      font-weight: normal;
      svg {
        width: 1.3em;
      }
    }
  }
}
