@import "../../Styles.scss";

.products {
  &-title {
    font-size: 1.6em;
    padding-left: 16px;
    color: var(--color-secundario);
  }
  &-container {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 var(--espacio-principal);
    &-content {
      padding: var(--espacio-principal) 0;
      display: flex;
      gap: var(--espacio-principal);
      width: 100%;
      overflow: auto;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        height: 0;
      }
    }
    button {
      position: absolute;
      cursor: pointer;
      background: var(--color-secundario);
      color: #fff;
      border-radius: 100%;
      transition: all 0.3s ease;
      box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.4),
        -1px -1px 2px rgba($color: #fff, $alpha: 0.4);
      z-index: 1000;
      &.btnRight {
        right: var(--espacio-principal);
      }
      &.btnLeft {
        left: var(--espacio-principal);
      }
      &.inactive {
        background: var(--color-terciario);
        color: var(--color-text-terciario);
        opacity: .4;
      }
      svg {
        width: 2.3em;
        padding: 0.5em;
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .products {
    &-title,
    &-container {
      padding: 0;
    }
  }
}

@media screen and (min-width: 1300px) {
  .products {
    &-title {
      font-size: 2em;
    }
  }
}

@media screen and (max-width: 500px) {
  .products {
    &-title {
      padding-left: 8px;
    }
    &-container {
      padding: 0 8px;
      &-content {
        padding: 8px 0;
        gap: 8px;
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .products {
    &-title {
      font-size: 1.5em;
    }
  }
}
