.productsContainer {
  padding: 0 1em 2.5em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  h1 {
    padding: 0.5em 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .products {
    display: flex;
    .singleProduct {
      display: flex;
      gap: 1.5em;
      overflow: auto;
      scroll-behavior: smooth;
      padding: 0.08em 0;
      &::-webkit-scrollbar {
        height: 0;
      }
    }
    .slice {
      border: none;
      font-size: 2em;
      padding: 0 0.1em;
      cursor: pointer;
      color: #999999;
    }
  }
}

.filtersContainer {
  padding: 0 1em 2.5em;
  .singleFilter {
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    gap: 1em;
  }
}