.products-container {
  padding: 0 1em;
  h1 {
    font-family: Verdana, Times, "Times New Roman", serif;
    padding-top: 0.5em;
    @media screen and (max-width: 550px) {
      font-size: 1.7em;
    }
    @media screen and (max-width: 450px) {
      font-size: 1.5em;
    }
    @media screen and (max-width: 380px) {
      font-size: 1.3em;
    }
  }
  .products-content {
    display: flex;
    margin-top: 1em;
    button {
      border: none;
      background: #f1f1f1;
      padding: 0;
      font-size: 0;
      width: 0;
      cursor: pointer;
      animation: showButton 0.4s normal forwards ease-in-out;
      @keyframes showButton {
        to {
          padding: 0 0.1em;
          font-size: 2em;
          width: auto;
        }
      }
      &.hiddenButton {
        padding: 0 0.1em;
        font-size: 2em;
        width: auto;
        animation: hiddenButton 0.4s normal forwards ease-in-out;
        @keyframes hiddenButton {
          to {
            padding: 0;
            font-size: 0;
            width: 0;
          }
        }
      }
    }
    .products {
      width: 100%;
      display: flex;
      overflow: auto;
      overflow-y: hidden;
      &::-webkit-scrollbar {
        height: 0;
      }
      gap: 1em;
      scroll-behavior: smooth;
      .single {
        &:hover {
          h3, h4 {
            color: #4d4d4d
          }
        }
        div {
          height: calc(100% - 25vw);
          padding: 0 .5em;
          h4 {
            font-family: "Roboto";
            font-size: 0.95em;
            font-size: 1.2em;
          }
          h3 {
            transition: background 0.1s ease-in-out;
            font-family: "Roboto";
            font-size: 1.5em;
            padding: 0.5em 0 0.6em 0;
          }
        }
        img {
          width: 25vw;
          height: 25vw;
          object-fit: cover;
        }
      }
    }
    @media screen and (max-width: 950px) {
      .products {
        .single {
          img {
            width: 30vw;
            height: 30vw;
          }
          div {
            height: calc(100% - 30vw);
            h4 {
              font-size: 1.1em;
            }
            h3 {
              font-size: 1.3em;
            }
          }
        }
      }
    }
    @media screen and (max-width: 750px) {
      button {
        display: none;
      }
      .offers {
        .single {
          img {
            width: 35vw;
            height: 35vw;
          }
          div {
            height: calc(100% - 35vw);
          }
        }
      }
    }
    @media screen and (max-width: 600px) {
      .products {
        .single {
          div {
            height: calc(100% - 37vw);
            h4 {
              font-size: 0.85em;
            }
            h3 {
              font-size: 1em;
            }
          }
          img {
            width: 37vw;
            height: 37vw;
          }
        }
      }
    }
    @media screen and (max-width: 550px) {
      .products {
        .single {
          img {
            width: 45vw;
            height: 45vw;
          }
          div {
            height: calc(100% - 45vw);
          }
        }
      }
    }
    @media screen and (max-width: 450px) {
      .products {
        .single {
          img {
            width: 57vw;
            height: 57vw;
          }
          div {
            height: calc(100% - 57vw);
          }
        }
      }
    }
  }
}
