.products-container {
  display: flex;
  justify-content: center;
  padding: 1em 1em;
  .container {
    width: 100%;
    h2 {
      font-family: Verdana, Times, "Times New Roman", serif;
      font-size: 2em;
      @media screen and (max-width: 575px) {
        font-size: 1.7em;
      }
      @media screen and (max-width: 450px) {
        font-size: 1.5em;
      }
      @media screen and (max-width: 380px) {
        font-size: 1.3em;
      }
    }
    .products-content {
      display: flex;
      margin-top: 1em;
      position: relative;
      button {
        border: none;
        background: none;
        position: absolute;
        height: 100%;
        z-index: 100;
        pointer-events: none;
        &.btnRight2 {
          right: 0.5em;
        }
        &.btnLeft2 {
          left: 0.5em;
        }
        svg {
          pointer-events: all;
          border-radius: 100%;
          width: 3em;
          height: 3em;
          padding: 0.7em;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          background: rgba($color: #000000, $alpha: 0.1);
          box-shadow: 0 0 0 #000;
          animation: showButton 0.4s normal forwards ease-in-out;
          @keyframes showButton {
            to {
              box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.5);
              background: #fff;
            }
          }
        }
        &.hiddenButton {
          svg {
            box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.5);
            background: #fff;
            animation: hiddenButton 0.4s normal forwards ease-in-out;
            @keyframes hiddenButton {
              to {
                background: rgba($color: #000000, $alpha: 0.2);
                box-shadow: 0 0 0 #000;
              }
            }
          }
        }
      }
      .products {
        width: 100%;
        display: flex;
        overflow: auto;
        overflow-y: hidden;
        &::-webkit-scrollbar {
          height: 0;
        }
        gap: 1em;
        scroll-behavior: smooth;
        padding: 0.2em;
        .single {
          border: 1px solid rgba($color: #000000, $alpha: 0.1);
          box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.3);
          background: #fff;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            background: rgba($color: #000000, $alpha: 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          }
          &:hover::before {
            opacity: 0.5;
          }
          div {
            height: calc(100% - 25vw);
            padding: 0 0.5em;
            @media screen and (min-width: 1000px) {
              height: calc(100% - 18em);
            }
            h4 {
              font-family: Roboto;
              font-size: 1.1em;
              font-weight: 100;
            }
            h3 {
              padding: 0.5em 0 0.6em 0;
              font-family: Helvetica, sans-serif;
              font-weight: 100;
            }
          }
          img {
            width: 25vw;
            height: 25vw;
            object-fit: cover;
          }

          @media screen and (min-width: 1000px) {
            max-width: 18em;
            img {
              width: 18em;
              height: 18em;
            }
          }
        }
      }
      @media screen and (max-width: 1000px) {
        .products {
          .single {
            div {
              h4 {
                font-size: 0.9em;
              }
              h3 {
                font-size: 1.1em;
              }
            }
          }
        }
      }
      @media screen and (max-width: 900px) {
        .products {
          .single {
            img {
              width: 30vw;
              height: 30vw;
            }
            div {
              height: calc(100% - 30vw);
            }
          }
        }
      }
      @media screen and (max-width: 750px) {
        .products {
          .single {
            img {
              width: 35vw;
              height: 35vw;
            }
            div {
              height: calc(100% - 35vw);
            }
          }
        }
      }
      @media screen and (max-width: 600px) {
        .products {
          .single {
            div {
              height: calc(100% - 37vw);
              h4 {
                font-size: 0.8em;
              }
              h3 {
                font-size: 0.9em;
              }
            }
            img {
              width: 37vw;
              height: 37vw;
            }
          }
        }
      }
      @media screen and (max-width: 550px) {
        .products {
          .single {
            img {
              width: 45vw;
              height: 45vw;
            }
            div {
              height: calc(100% - 45vw);
            }
          }
        }
      }
      @media screen and (max-width: 500px) {
        .products {
          .single {
            img {
              width: 57vw;
              height: 57vw;
            }
            div {
              height: calc(100% - 57vw);
            }
          }
        }
      }
      @media screen and (max-width: 450px) {
        .products {
          .single {
            img {
              width: 65vw;
              height: 65vw;
            }
            div {
              height: calc(100% - 65vw);
            }
          }
        }
      }
      @media screen and (max-width: 300px) {
        .products {
          .single {
            img {
              width: 57vw;
              height: 57vw;
            }
            div {
              height: calc(100% - 57vw);
              h4 {
                font-size: 0.7em;
              }
              h3 {
                font-size: 0.8em;
              }
            }
          }
        }
      }
    }
  }
}
