@import "../../Styles.scss";

.outlet-products {
  width: 100%;
  min-height: calc(100vh - 6em);
  .all-stores {
    padding-bottom: 0;
  }
  .results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
    gap: var(--espacio-principal);
    padding: var(--espacio-principal);
    @media screen and (min-width: 1500px) {
      padding: 0;
      background: #fff;
    }
    background: var(--color-terciario);
    .card {
      box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.5),
        -1px -1px 2px rgba($color: #fff, $alpha: 0.5);
      background: #fff;
      &-image {
        height: 18.5vw;
        min-width: 13em;
        object-fit: contain;
        transition: all .3s ease;
      }
      &-information {
        padding: var(--espacio-secundario);
        &-product{
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        &-store {
          color: var(--color-primario);
          font-size: 0.9em;
          transition: all 0.3s ease;
        }
        .price {
          display: flex;
          gap: 0.3em;
          font-family: var(--tipo-secundario);
          &-porcent {
            color: #ff0000;
            font-size: 1.4em;
          }
          &-price {
            display: flex;
            span {
              font-size: 1.4em;
              &.little {
                font-size: 0.9em;
                margin-top: 0.1em;
              }
            }
          }
        }
        &-salePrice {
          display: flex;
          flex-direction: column;
          .normal {
            color: rgb(80, 80, 80);
            font-size: 0.9em;
            span {
              position: relative;
              &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 1px;
                width: 100%;
                background: rgb(80, 80, 80);
              }
            }
          }
          .aditional {
            font-size: 0.9em;
            color: rgb(80, 80, 80);
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1300px) {
  .outlet-products {
    .results {
      grid-template-columns: repeat(5, minmax(15em, 1fr));
      .card {
        &-image {
          min-width: 15em;
        }
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .outlet-products {
    .results {
      padding-left: 0;
      padding-right: 0;
      .card {
        &-image {
          height: auto;
          max-height: 18em;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .outlet-products {
    .results {
      grid-template-columns: repeat(4, minmax(13em, 1fr));
      .card{
        &-image{
          height: 23.2vw;
        }
      }
    }
  }
}

@media screen and (max-width: 970px) {
  .outlet-products {
    .results {
      grid-template-columns: repeat(4, minmax(11em, 1fr));
      gap: var(--espacio-secundario);
      padding: var(--espacio-secundario);
      .card {
        &-image {
          height: 23.8vw;
          min-width: 11em;
        }
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .outlet-products {
    .results {
      grid-template-columns: repeat(3, minmax(13em, 1fr));
      .card {
        &-image {
          height: 32.2vw;
          min-width: 13em;
        }
        &-information {
          .price {
            &-porcent {
              font-size: 1.3em;
            }
            &-price {
              span {
                font-size: 1.3em;
                &.little {
                  font-size: 0.8em;
                  margin-top: 0.15em;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 710px) {
  .outlet-products {
    .results {
      grid-template-columns: repeat(2, minmax(13em, 16em));
      justify-content: center;
      .card {
        &-image {
          height: auto;
          max-height: 16em;
          min-width: 13em;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .outlet-products {
    .results {
      grid-template-columns: repeat(2, minmax(12em, 1fr));
      .card {
        &-image {
          height: 47.85vw;
          max-height: 100vw;
          min-width: 12em;
        }
        &-information {
          &-product {
            font-size: 15px;
          }
          &-store {
            margin: 0;
            font-size: 0.8em;
          }
          .price {
            &-porcent {
              font-size: 1.1em;
            }
            &-price {
              display: flex;
              span {
                font-size: 1.1em;
                &.little {
                  font-size: 0.75em;
                  margin-top: 0.15em;
                }
              }
            }
          }
          &-salePrice {
            .normal {
              font-size: 0.8em;
            }
            .aditional {
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .outlet-products {
    .results {
      grid-template-columns: repeat(2, minmax(5em, 1fr));
      .card {
        &-image {
          height: 47.5vw;
          min-width: 5em;
        }
        &-information {
          padding: 0.2em;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .outlet-products {
    .results {
      grid-template-columns: repeat(1, 1fr);
      .card {
        min-width: 0;
        &-image {
          height: 13em;
          min-width: 0;
          margin-bottom: .5em;
        }
        &-information {
          padding: 0;
        }
      }
    }
  }
}
