@import "../../Styles.scss";

.suggestion {
  display: flex;
  align-items: center;
  overflow: auto;
  &::-webkit-scrollbar {
    height: 0;
  }
  gap: var(--espacio-secundario);
  padding: var(--espacio-principal);
  label,
  a {
    min-width: max-content;
    @media screen and (max-width: 950px) {
      font-size: 1.2em;
    }
    @media screen and (max-width: 850px) {
      font-size: 1em;
    }
    @media screen and (max-width: 750px) {
      font-size: 0.95em;
    }
  }
  a {
    padding: 0.3em 1.2em;
    background: var(--color-primario);
    color: var(--color-blanco);
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      outline: 1px solid var(--color-secundario);
    }
  }
}

@media screen and (max-width: 500px) {
  .suggestion {
    padding: var(--espacio-secundario);
  }
}