@import "../../Styles.scss";

.info {
  width: 100%;
  background: #f3f3f3;
  &-title {
    font-size: 1.6em;
    font-weight: 900;
    text-align: center;
    padding: 0.3em var(--espacio-secundario);
    background: #fff;
    box-shadow: 1px 1px 10px rgba($color: #000, $alpha: 0.2);
    position: relative;
    &-action {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background: rgb(4, 238, 4);
      color: #fff;
      font-size: 0.7em;
      padding: 0 0.5em;
      display: flex;
      align-items: center;
    }
  }
  .all {
    padding: var(--espacio-principal);
    display: flex;
    flex-direction: column;
    gap: var(--espacio-principal);
    &-content {
      padding: var(--espacio-secundario);
      background: #fff;
      box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.2),
        -1px -1px 5px rgba($color: #fff, $alpha: 0.2);
      &-introduction {
        display: flex;
        gap: var(--espacio-principal);
        .info {
          width: 25em;
          img {
            min-width: 25em;
            max-width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
            background: #fff;
          }
        }
        .content {
          display: flex;
          flex-direction: column;
          gap: 0.2em;
          .head {
            font-weight: bold;
            min-width: max-content;
          }
          a,
          span {
            word-break: break-all;
            p{
              display: inline;
            }
          }
          a:hover {
            color: gray;
          }
        }
      }
      .container {
        margin-top: var(--espacio-principal);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--espacio-principal);
        padding: 0;
        .apart {
          box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.2),
            -1px -1px 5px rgba($color: #fff, $alpha: 0.2);
          display: flex;
          flex-direction: column;
          padding: var(--espacio-secundario);
          background: #f3f3f3;
          span {
            font-size: 0.95em;
          }
          label {
            font-size: 1.3em;
            font-weight: bold;
            margin-bottom: 0.3em;
          }
          a {
            background: rgb(4, 238, 4);
            color: #fff;
            text-align: center;
            padding: 0.2em 0;
            margin-top: var(--espacio-secundario);
          }
        }
      }
      .container-links {
        display: flex;
        justify-content: center;
        padding: var(--espacio-principal);
        gap: var(--espacio-principal);
        a {
          display: flex;
          align-items: center;
          padding: var(--espacio-secundario);
          gap: var(--espacio-secundario);
          min-width: max-content;
          label {
            cursor: pointer;
            color: #fff;
          }
          svg {
            width: 1.7em;
            height: 1.7em;
            color: #fff;
          }
        }
      }
      .options {
        display: flex;
        gap: var(--espacio-principal);
        padding: var(--espacio-principal) 0 0;
        button {
          color: #fff;
          cursor: pointer;
          background: #ff0000;
          width: 100%;
          padding: var(--espacio-secundario);
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .info {
    .all {
      &-content {
        .container-links {
          a {
            padding: 0.5em 2em;
            label {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .info {
    &-title {
      font-size: 1.3em;
      height: 2.2em;
      display: flex;
      align-items: center;
      justify-content: center;
      &-action {
        font-weight: normal;
        width: 7em;
        justify-content: center;
        align-items: center;
      }
    }
    .all {
      padding: var(--espacio-secundario);
      &-content {
        &-introduction {
          .info {
            width: 20em;
            img {
              min-width: 20em;
            }
          }
        }
        .container-links {
          a {
            padding: .5em 1em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .info {
    .all {
      &-content {
        &-introduction {
          display: flex;
          flex-direction: column;
          gap: var(--espacio-secundario);
          .info {
            width: 100%;
            img {
              min-width: 0;
              max-width: 100%;
            }
          }
        }
        .container {
          margin-top: var(--espacio-secundario);
          display: flex;
          flex-direction: column;
          gap: var(--espacio-secundario);
          .apart{
            box-shadow: none;
          }
        }
        .container-links {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: var(--espacio-secundario) 0;
          gap: var(--espacio-secundario);
          a {
            display: flex;
            align-items: center;
            padding: var(--espacio-secundario);
            gap: var(--espacio-secundario);
            label {
              display: block;
            }
            svg {
              width: 1.7em;
              height: 1.7em;
              color: #fff;
            }
          }
        }
        .options {
          display: flex;
          gap: var(--espacio-principal);
          padding: var(--espacio-principal) 0 0;
          button {
            color: #fff;
            cursor: pointer;
            background: #ff0000;
            width: 100%;
            padding: var(--espacio-secundario);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 475px) {
  .info {
    .all {
      &-content {
        .options {
          display: flex;
          flex-direction: column;
          gap: var(--espacio-secundario);
          padding: var(--espacio-secundario) 0 0;
        }
      }
    }
  }
}
