@import "../../Styles.scss";

.table {
  &-header {
    display: grid;
    grid-template-columns: 3em 1fr 1fr 1fr 10em;
    padding: var(--espacio-secundario) 0;
    text-align: center;
  }
  #table-content {
    display: grid;
    grid-template-columns: 3em 1fr 1fr 1fr 10em;
    word-break: break-all;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .users-options {
      display: flex;
      align-items: center;
      gap: 0.5em;
      button {
        width: 100%;
        height: 2em;
        cursor: pointer;
        background: #ff0000;
        color: #fff;
        &:first-child {
          background: #ffa500;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .table {
    &-header {
      grid-template-columns: 5em 1fr 1fr 1fr;
      label:last-child {
        display: none;
      }
    }
    #table-content {
      grid-template-columns: 5em 1fr 1fr 1fr;
      align-items: baseline;
      font-size: 15px;
      .users-options {
        gap: 0;
        flex-direction: column;
        button {
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .table {
    &-header {
      display: none;
    }
    #table-content {
      grid-template-columns: 3em 1fr 1fr;
      grid-template-rows: repeat(2, 2em);
      align-items: center;
      gap: var(--espacio-secundario);
      img {
        grid-row: 1 / 3;
      }
      .users-options {
        flex-direction: row;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .table {
    #table-content {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      img {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .table {
    #table-content {
        display: flex;
        flex-direction: column;
        .users-options {
            width: 100%;
          }
    }
  }
}
