.categoriesContainer {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17vw, 1fr));
  grid-template-rows: repeat(auto-fit, 20vw);
  gap: 1.4vw;
  .singleCategory {
    position: relative;
    div {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba($color: #000000, $alpha: 0.4);
      padding: 1em;
      span {
        display: block;
        font-family: "Times New Roman", Times, serif;
        font-size: 1.05em;
        color: #fff;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}