#aside-content {
  background: #f1f1f1;
  width: 18em;
  .items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: .5em 1em;
    gap: 1em;
    a{
      padding: .5em 1em;
      border-radius: .3em;
      font-size: 1.1em;
      font-family: Roboto;
      box-sizing: border-box;
      text-wrap: nowrap;
      display: flex;
      gap: .3em;
      align-items: center;
      color: #2E4053;
      svg{
        font-size: 1.5em;
      }
      &:hover{
        color: #000;
      }
    }
    .contact{
      .divider{
        position: relative;
        display: flex;
        justify-content: center;
        label{
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          background: #f1f1f1;
          color: #34495E;
          z-index: 500;
          padding: 0 .5em;
        }
        hr{
          position: absolute;
          width: 100%;
          top:.65em;
          border: 1px solid #34495E;
          border-top: none;
        }
      }
      .social{
        display: flex;
        gap: 1em;
        justify-content: space-evenly;
        margin-top: 1em;
        a{
          padding: 0;
        }
      }
    }
  }
}

.thisMenu{
  left: -18em;
  top: 3.5em;
  height: 100vh;
  position: fixed;
  z-index: 500;
}

.hiddenAside {
  left: 0;
  animation: hiddenAside 0.4s normal forwards ease-in-out;
  @keyframes hiddenAside {
    to {
      left: -18em;
    }
  }
}

.showAside {
  left: -18em;
  animation: showAside 0.4s normal forwards ease-in-out;
  @keyframes showAside {
    to {
      left: 0;
    }
  }
}
