#store-introduction {
  padding-bottom: 0;
  display: flex;
  padding: var(--espacio-principal);
  img{
    width: 15em;
    object-fit: contain;
  }
  .introduction {
    width: 30em;
    padding-left: 1em;
    h2 {
      font-size: 1.6em;
      font-weight: bold;
    }
    .description {
      font-size: 1.2em;
      margin-top: var(--espacio-secundario);
    }
  }
}

@media screen and (max-width: 900px) {
  #store-introduction {
    .introduction {
      width: 100%;
    }
  }
}

@media screen and (max-width: 800px) {
  #store-introduction {
    .introduction {
      .description {
        font-size: 1.05em;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #store-introduction{
    flex-direction: column;
    img{
      width: 100%;
    }
    .introduction{
      margin-top: var(--espacio-principal);
      width: 100%;
      padding: 0;
    }
  }
}

@media screen and (max-width: 500px) {
  #store-introduction {
    padding: var(--espacio-secundario);
    .introduction {
      margin-top: var(--espacio-secundario);
      .description {
        font-size: 0.9em;
      }
    }
  }
}

@media screen and (max-width: 415px) {
  #store-introduction {
    .introduction {
      h2 {
        font-size: 1.5em;
      }
    }
  }
}