@import "../../Styles.scss";

.all-stores {
  padding: var(--espacio-principal);
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: var(--espacio-principal);
  &-content {
    border: 1px solid var(--color-secundario);
    display: flex;
    &-logo {
      pointer-events: none;
      min-width: 13em;
      max-width: 13em;
      min-height: 100%;
      object-fit: contain;
    }
    .container {
      padding: var(--espacio-secundario);
      padding-top: 0;
      display: flex;
      flex-direction: column;
      width: 30%;
      &-item {
        margin-top: var(--espacio-secundario);
        display: flex;
        flex-direction: column;
        gap: 0.2em;
        .title {
          pointer-events: none;
          font-size: 1.2em;
          font-weight: bold;
        }
        .text {
          display: flex;
          align-items: center;
          cursor: pointer;
          gap: .2em;
          svg{
            width: 1em;
          }
        }
      }
    }
    .store-products {
      pointer-events: none;
      width: 60%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      &-item {
        background-position: center;
        background-size: cover;
        position: relative;
        height: 9.5em;
        &-image {
          height: 100%;
          object-position: center;
          backdrop-filter: blur(10px);
          object-fit: contain;
        }
        &-title {
          position: absolute;
          bottom: 0;
          width: 100%;
          z-index: 100%;
          background: rgba($color: #000, $alpha: 0.6);
          font-size: 0.9em;
          text-align: center;
          color: #fff;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding: var(--espacio-secundario);
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .all-stores {
    .container {
      &-item {
        .title {
          font-size: 1.2em;
        }
      }
    }
    &-content {
      &-logo {
        min-width: 18em;
        max-width: 18em;
      }
      .store-products {
        width: 70%;
        height: 18em;
        &-item {
          height: 9em;
        }
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .all-stores {
    padding: 0;
    padding-bottom: 1em;
    .container {
      &-item {
        .title {
          font-size: 1.5em;
        }
        .text {
          font-size: 1.1em;
        }
      }
    }
    &-content {
      &-logo {
        min-width: 20em;
        max-width: 20em;
      }
      .store-products {
        height: 20em;
        &-item {
          height: 10em;
          &-title {
            font-size: 1.1em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .all-stores {
    &-content {
      .container {
        width: 40%;
      }
      &-logo {
        min-width: 12em;
        max-width: 12em;
        height: 16em;
      }
      .store-products {
        grid-template-columns: repeat(4, 1fr);
        overflow: hidden;
        height: 16em;
        width: 50%;
        &-item {
          height: 8em;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .all-stores {
    &-content {
      flex-direction: column;
      .container {
        width: 100%;
      }
      &-logo {
        min-width: 12em;
        width: 100%;
        max-width: 100%;
        height: 25em;
      }
      .store-products {
        grid-template-columns: repeat(5, 1fr);
        overflow: hidden;
        height: 20em;
        width: 100%;
        &-item {
          height: 10em;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .all-stores {
    &-content {
      &-logo {
        height: 20em;
      }
      .store-products {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .all-stores {
    padding: var(--espacio-secundario);
    padding-top: 0;
    &-content {
      .container {
        .title {
          font-size: 1.1em;
        }
        .text {
          font-size: 15px;
        }
      }
      &-logo {
        min-width: 0;
        height: auto;
      }
      .store-products {
        grid-template-columns: repeat(4, 1fr);
        height: 16em;
        &-item {
          height: 8em;
        }
      }
    }
  }
}
