@import "../../Styles.scss";

.header {
  --spacing: 0.3em;
  --icon-dimensions: 1.4em;
  background: var(--color-primario);
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
  &-title {
    color: var(--color-blanco);
    display: flex;
    font-size: 1.6em;
    font-weight: bold;
  }
  display: flex;
  gap: var(--espacio-principal);
  transition: all 0.4s ease;
  &-identify {
    cursor: pointer;
    border-radius: 0.3em;
    display: flex;
    align-items: center;
    gap: var(--spacing);
    color: var(--color-blanco);
    svg {
      width: var(--icon-dimensions);
      height: var(--icon-dimensions);
    }
  }
  &-gt {
    display: flex;
    align-items: center;
    gap: var(--spacing);
    color: var(--color-blanco);
    cursor: text;
    img {
      width: var(--icon-dimensions);
      height: var(--icon-dimensions);
      object-fit: cover;
      object-position: center;
      border-radius: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
    justify-content: center;
    row-gap: .5em;
    &-gt {
      position: absolute;
      top: 0.8em;
      right: 13vw;
    }
    &-identify {
      position: absolute;
      top: 0.8em;
      left: 13vw;
    }
  }
}
@media screen and (max-width: 470px) {
    .header {
      &-gt {
        right: 3.5vw;
      }
      &-identify {
        left: 3.5vw;
      }
    }
  }
  
@media screen and (max-width: 415px) {
  .header {
    &-title {
      font-size: 1.5em;
    }
  }
}
@media screen and (max-width: 375px) {
  .header {
    padding: 0.5em 0.5em;
    &-gt {
      right: 2vw;
      font-size: 0.9em;
    }
    &-identify {
      left: 2vw;
      font-size: 0.9em;
    }
  }
}
