@import "../../Styles.scss";

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 16px;
  height: 5.5em;
  &-title {
    display: flex;
    align-items: center;
    img {
      width: 7em;
    }
  }
  .btnOptions {
    display: flex;
    align-items: center;
    gap: var(--espacio-principal);
  }
  &-identify {
    display: flex;
    align-items: center;
    gap: var(--espacio-secundario);
    min-width: max-content;
    font-size: 1.2em;
    svg {
      width: 1.5em;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1375px) {
  .header{
    height: 5em;
    &-identify{
      font-size: 1em;
    }
  }
}

@media screen and (max-width: 875px) {
  .header {
    height: auto;
    padding: 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.logged {
      align-items: start;
      .btnOptions {
        left: 0;
      }
    }
    &-title {
      max-width: max-content;
      height: 3em;
    }
    .btnOptions {
      position: absolute;
      width: 100%;
      pointer-events: none;
      justify-content: space-between;
      direction: rtl;
      padding: 0 16px;
      top: 25px;
    }
    &-identify {
      &.twoOption {
        direction: ltr;
      }
      pointer-events: all;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 8px 0 0;
    gap: 8px;
    &.logged {
      .header-title {
        padding-left: 8px;
      }
      .btnOptions{
        top: 18px;
      }
    }
    &-title {
      height: 2.7em;
      img {
        width: 5em;
      }
    }
    .btnOptions {
      direction: rtl;
      padding: 0 8px;
      top: 18px;
    }
    &-identify {
      font-size: 15px;
    }
  }
}


@media screen and (max-width: 310px) {
  .header {
    padding: 8px 0 0;
    gap: 8px;
    &.logged {
      .btnOptions{
        position: absolute;
        flex-direction: row;
        direction: rtl;
        top: 20px;
      }
      .header-identify{
        font-size: 15px;
      }
    }
    &-title {
      order: 1;
    }
    .btnOptions {
      order: 2;
      position: static;
      flex-direction: column;
      direction: ltr;
      gap: 8px;
    }
  }
}
