#header-content {
  height: 3.5em;
  position: fixed;
  top: 0;
  width: 100%;
  background: #5DADE2;
  z-index: 500;
  label {
    position: absolute;
    height: 100%;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    gap: 0.3em;
    padding: 0 0.5em;
    cursor: pointer;
    color: #fff;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h1 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      color: #fff;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }
  @media screen and (max-width: 700px) {
    label {
      font-size: 1.2em;
    }
  }
  @media screen and (max-width: 550px) {
    h1 {
      a {
        font-size: 0.85em;
      }
    }
  }
  @media screen and (max-width: 450px) {
    label {
      font-size: 1.1em;
    }
    h1 {
      a {
        font-size: 0.75em;
      }
    }
  }
  @media screen and (max-width: 320px) {
    label {
      font-size: 0.9em;
    }
    h1 {
      a {
        font-size: 0.65em;
      }
    }
  }
}
