#products-card {
  padding: 1em;
  @media screen and (max-width: 550px) {
    padding: 0.5em;
  }
  .more-options {
    display: flex;
    align-items: center;
    overflow: auto;
    &::-webkit-scrollbar {
      height: 0;
    }
    gap: 1em;
    padding: 0.3em 0;
    label,
    a {
      font-family: Roboto;
      font-size: 1.3em;
      min-width: max-content;
      @media screen and (max-width: 950px) {
        font-size: 1.2em;
      }
      @media screen and (max-width: 850px) {
        font-size: 1em;
      }
      @media screen and (max-width: 750px) {
        font-size: 0.95em;
      }
    }
    a {
      border: none;
      border-radius: 1em;
      background: #58D68D;
      padding: 0.3em 1.2em;
      color: #fff;
      cursor: pointer;
      transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
      &:hover {
        box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.5);
      }
    }
  }
  .products {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    .single-product {
      position: relative;
      flex: 1;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
      box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.2);
      padding: 1em;
      min-width: 15em;
      border-radius: 0.3em;
      overflow: hidden;
      img {
        width: 100%;
        height: 15em;
        object-fit: contain;
        background: #fff;
      }
      .tag-offer {
        position: absolute;
        top: 1em;
        right: -3em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 900;
        font-size: 1.5em;
        color: #fff;
        padding: 0.2em 3em;
        background: #ff2b14;
        transform: rotate(45deg);
      }
      .product-information {
        h1 {
          font-size: 1em;
          font-family: Roboto;
          font-weight: 100;
        }
        .price-container {
          display: flex;
          gap: 0.3em;
          .offer-porcent {
            span {
              font-size: 1.3em;
              font-family: sans-serif;
              color: #ff2b14;
            }
          }
          .price {
            display: flex;
            span {
              font-size: 1.3em;
              font-family: sans-serif;
              display: flex;
              &.little {
                font-size: .9em;
                margin-top: 0.05em;
              }
            }
          }
        }
        .salePrice {
          display: flex;
          .normal-price {
            font-size: 1em;
            font-family: sans-serif;
            color: rgb(95, 95, 95);
          }
          .tipico {
            font-size: 1em;
            font-family: sans-serif;
            color: rgb(95, 95, 95);
            font-style: italic;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              left: 0;
              top: 50%;
              height: 1px;
              background: rgb(95, 95, 95);
            }
          }
        }
      }
      .social-links {
        margin-top: 0.5em;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        justify-content: space-between;
        a {
          width: 2.5em;
          height: 2.5em;
          padding: 0.5em;
          border-radius: 100em;
          background: #fff;
          border: 1px solid rgba($color: #000000, $alpha: 0.2);
          box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.2);
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #products-card {
    .products {
      .single-product {
        position: relative;
        min-width: 12em;
        img {
          height: 12em;
        }
        .tag-offer {
          font-size: 1.3em;
        }
        .product-information {
          h1 {
            font-size: 0.9em;
          }
          .price-container {
            display: flex;
            gap: 0.3em;
            .offer-porcent {
              span {
                font-size: 1.2em;
              }
            }
            .price {
              span {
                font-size: 1.2em;
                &.little {
                  font-size: 0.8em;
                }
              }
            }
          }
          .salePrice {
            .normal-price {
              font-size: 0.9em;
            }
            .tipico {
              font-size: 0.9em;
            }
          }
        }
        .social-links {
          gap: 0.3em;
          a {
            width: 2em;
            height: 2em;
            padding: 0.3em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  #products-card {
    .products {
      .single-product {
        min-width: 10em;
        img {
          height: 9.5em;
        }
        .tag-offer {
          font-size: 1em;
        }
        .product-information {
          .price-container {
            .offer-porcent {
              span {
                font-size: 1.1em;
              }
            }
            .price {
              span {
                font-size: 1.1em;
                &.little {
                  font-size: 0.7em;
                }
              }
            }
          }
          .salePrice {
            .normal-price {
              font-size: 0.8em;
            }
            .tipico {
              font-size: 0.8em;
            }
          }
        }
        .social-links {
          a {
            width: 1.8em;
            height: 1.8em;
          }
        }
      }
    }
  }
}
