#searchbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  div {
    width: 100%;
    position: relative;
    border: 1px solid #afafaf;
    padding: 0.4em;
    display: flex;
    align-items: center;
    background: #fff;
    gap: 0.2em;
    border-radius: 2em;
    z-index: 500;
    #closeSearch {
      display: none;
      position: absolute;
      top: 0;
      height: 100%;
      cursor: pointer;
      color: #646464;
    }
    &.autoCompleteOptions {
      position: absolute;
      top: 95%;
      border-top: none;
      padding: 0;
      gap: 0;
      flex-direction: column;
      background: #f1f1f1;
      .result {
        border: none;
        margin: 0;
        cursor: pointer;
        width: 100%;
        border-radius: 0;
        input {
          width: 100%;
        }
        padding: 0 0.4em;
        height: 0em;
        animation: showOptions 0.3s normal forwards
          cubic-bezier(0.075, 0.82, 0.165, 1);
        label svg {
          height: 0;
          animation: showIcon 0.3s normal forwards
            cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        @media screen and (max-width: 800px) {
          animation: showOptions2 0.3s normal forwards
            cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        input,
        label {
          cursor: pointer;
          color: #646464;
        }
        &:hover {
          background: #d8d8d8;
        }
      }
    }
    input {
      width: 100%;
      border: none;
      outline: none;
      background: none;
      font-size: 1.2em;
      font-family: sans-serif;
    }
    label {
      display: flex;
      svg {
        width: 1.7em;
        height: 1.7em;
      }
    }
    @media screen and (max-width: 600px) {
      width: 100%;
      margin-top: 0;
      border-radius: 0;
      #closeSearch{
        display: flex;
        align-items: center;
        width: 2em;
        right: .4em;
      }
      input {
        font-size: 1.05em;
        padding-top: 0.2em;
      }
      &.autoCompleteOptions {
        top: 2.4em;
      }
      label {
        svg {
          width: 1.5em;
          height: 1.5em;
        }
      }
    }
  }
}

@keyframes showOptions {
  to {
    padding: 0.4em;
    height: 2.6em;
  }
}

@keyframes showOptions2 {
  to {
    padding: 0.4em;
    height: 2.6em;
  }
}

@keyframes showIcon {
  to {
    height: 1.7em;
  }
}

#details-container, #store-page-container, #outlet-products-container{
  #searchbar-container{
    display: none;
    @media screen and (max-width: 600px) {
      display: block;
    }
  }
}