.options-tags {
  padding: var(--espacio-secundario);
  margin-top: var(--espacio-secundario);
  border: 1px solid var(--color-primario);
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  font-size: 1.2em;
  &-autocomplete {
    background: var(--color-terciario);
    color: var(--color-texto-terciario);
    padding: 0.2em 0.4em;
    cursor: pointer;
    &:hover {
      background: #e4e4e4;
    }
  }
  &-option {
    background: var(--color-primario);
    color: var(--color-blanco);
    padding: 0.2em 0.4em;
    position: relative;
    &:hover {
      background: rgba($color: #0866ff, $alpha: 0.7);
    }
    svg {
      position: absolute;
      right: .3em;
      top: 0;
      width: auto;
      width: 1em;
      height: 100%;
      cursor: pointer;
    }
  }
}
