@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans;
}
a {
  color: #000;
}
#margin-padding-container{
  margin-top: 3.5em;
  padding-bottom: 1em;
}
#margin-container{
  margin-top: 3.5em;
}
#root{
  overflow-x: hidden;
}
.goToRight{
  left: 0;
  animation: goToRight .4s forwards ease-in-out;
  @keyframes goToRight {
    to{
      left: 18em;
    }
  }
}
#outlet-content{
  position: relative;
}
.goToLeft{
  left: 18em;
  animation: goToLeft .4s forwards ease-in-out;
  @keyframes goToLeft {
    to{
      left: 0;
    }
  }
}
#banner{
  margin-top: 1.4em;
  height: 20vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  div{
    padding: 0;
    height: 100%;
  }
}