@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans;
}
a {
  color: #000;
}
#main-content {
  display: flex;
  height: calc(100vh - 3.5em);
  overflow: hidden;
  #outlet-content {
    overflow: auto;
    overflow-x: hidden;
    min-width: 100%;
    padding-bottom: 1em;
  }
}

#banner{
  margin-top: 1.4em;
  height: 20vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  div{
    padding: 0;
    height: 100%;
  }
}