@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans;
}
a {
  color: #000;
}
#root {
  min-height: 100vh;
  overflow-x: hidden;
}
.padding-container {
  padding-bottom: 1em;
}
.margin-padding-container {
  padding: 1em 0;
}
.max-page-container {
  @media screen and (min-width: 1550px) {
    display: flex;
    justify-content: center;
    background: #f1f1f1;
  }
  .max-width-computer {
    background: #ffff;
    @media screen and (min-width: 1550px) {
      width: 1500px;
      padding: 0 1em;
    }
  }
}
#banner {
  margin-top: 1.4em;
  height: 20vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  div {
    padding: 0;
    height: 100%;
  }
  @media screen and (min-width: 1550px) {
    height: 15em;
    background-size: contain;
  }
}
