.goToLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    background: #5dade2;
    padding: .3em 5em;
    text-align: center;
    color: #fff;
    border-radius: 0.25em;
  }
  @media screen and (max-width: 600px) {
    font-size: 1.2em;
  }
  @media screen and (max-width: 430px) {
    font-size: 1.08em;
  }
}
