@import "../../Styles.scss";

.goToLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding: 0 16px 16px;
  a {
    font-weight: 900;
    background: var(--color-primario);
    text-align: center;
    color: var(--color-blanco);
    padding: 0.3em 3em;
    border-radius: .2em;
    @media screen and (max-width: 345px) {
      padding: 0.3em 0;
      width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    font-size: 1.2em;
  }
  @media screen and (max-width: 430px) {
    font-size: 1.08em;
  }

}
