@import "../../Styles.scss";

.disable {
  display: none;
}

#login {
  position: fixed;
  align-items: center;
  z-index: 700;
  background: #fff;
  min-height: 100vh;
  .container-title {
    position: relative;
    button {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 0.9em;
      cursor: pointer;
      color: var(--color-secundario);
    }
  }
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 1500px;
}

.container {
  padding: var(--espacio-principal) 0;
  transition: all 0.3s ease;
  &-btn {
    background-color: var(--color-secundario);
    color: var(--color-blanco);
    width: 100%;
    margin-top: var(--espacio-principal);
    padding: 0.4em 0;
    text-align: center;
  }
  &-title {
    font-size: 2em;
    font-weight: 900;
    color: var(--color-primario);
    display: flex;
    justify-content: center;
  }
  &-form {
    border: 1px solid #d8d8d8;
    padding: 1.5em;
    margin-top: var(--espacio-secundario);
    transition: all 0.3s ease;
    .passwordIncorrect{
      color: #ff0000;
    }
    &-title {
      font-size: 1.8em;
      font-family: var(--tipo-texto);
    }
    &-data {
      margin-top: var(--espacio-principal);
      transition: all 0.3s ease;
      label {
        font-size: 0.9em;
      }
      input {
        width: 20em;
        outline: none;
        border: none;
        background: var(--color-terciario);
        color: var(--color-texto-terciario);
        margin-top: 0.2em;
        padding: 0.4em 0.5em;
        transition: all 0.3s ease;
      }
    }
    &-option {
      font-size: 0.9em;
      color: #0000ff;
      cursor: pointer;
      margin-top: var(--espacio-principal);
    }
    &-send {
      cursor: pointer;
      margin-top: var(--espacio-principal);
      width: 100%;
      background: var(--color-primario);
      color: var(--color-blanco);
      padding: 0.4em 0;
    }
    &-divider {
      position: relative;
      margin-top: var(--espacio-principal);
      display: flex;
      justify-content: center;
      align-items: center;
      hr {
        position: absolute;
        height: 1px;
        width: 100%;
        background: #d8d8d8;
      }
      span {
        position: relative;
        padding: 0 0.7em;
        background: #fff;
        font-size: 0.9em;
        color: #808080;
      }
    }
    &-methods {
      margin-top: var(--espacio-principal);
      display: flex;
      justify-content: center;
      gap: var(--espacio-principal);
      svg {
        font-size: 2em;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .container {
    padding: var(--espacio-secundario) 0;
    &-form {
      border: 1px solid #d8d8d8;
      padding: 1em;
      &-data {
        margin-top: var(--espacio-secundario);
        input {
          width: 18em;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .container {
    &-form {
      &-data {
        input {
          width: 15em;
        }
      }
    }
  }
}
